<div *ngIf="isLoaded" [className]="data ? 'profile-modal' : 'profile-block'">
    <div class="title">
        <h2>Profile</h2>
    </div>
    <div class="image">
            <img [src]='currentUser.avatar' *ngIf="currentUser.avatar && currentUser.avatar !== 'string'; else localAvatar">
            <ng-template #localAvatar>
                <img src="../../../../../../assets/avatar.png">
            </ng-template>
        <div class="info">
            <h4>{{currentUser.firstName}} {{currentUser.surname}}</h4>
            <p>{{currentUser.jobTitle}}</p>
        </div>
    </div>
    <div class="info">
        <div class="birth">
            <p>date of birth</p>
            <h3>{{currentUser.birthdate | date}}</h3>
        </div>
        <div class="email">
            <p>personal email</p>
            <h3>{{currentUser.email}}</h3>
        </div>
        <div class="phone">
            <p>mobile phone</p>
            <h3>{{currentUser.phone}}</h3>
        </div>
        <div class="skype">
            <p>skype</p>
            <h3>{{currentUser.skype}}</h3>
        </div>
        <div class="hire-date">
            <p>hire date</p>
            <h3>{{currentUser.startDate | date}}</h3>
        </div>
        <div class="team-name">
            <p>team name</p>
            <h3>{{currentUser.team}}</h3>
        </div>
    </div>
</div>