<div class="vacations-table">
    <div class="title">
        Vacation Request List
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef >Name</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.userId | userProp: 'name'}} </td>
            </ng-container>
            <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef >Team</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.userId | userProp: 'team'}} </td>
            </ng-container>
            <ng-container matColumnDef="vacationDates">
                <th mat-header-cell *matHeaderCellDef>Vacation Dates</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.startDate | date}} - {{vacation.endDate | date}}
                </td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.amount }} </td>
            </ng-container>
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef>Vacation Balance</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.userId | userProp: 'balance'}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Vacation Status</th>
                <td mat-cell *matCellDef="let vacation"> {{vacation.status | vacationStatus: vacation.status}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let vacation">
                    <button mat-stroked-button (click)="decide(vacation)">Approve/Refuse</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>









    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Vacation Dates</th>
            <th>Amount of Days</th>
            <th>Vacation Balance</th>
            <th>Action</th>
        </tr>
            <tr *ngFor="let vacation of vacationsList">
                <td>{{vacation.userId | userProp: 'name'}}</td>
                <td>{{vacation.userId | userProp: 'team'}}</td>
                <td>{{vacation.startDate | date}} - {{vacation.endDate | date}}</td>
                <td>{{vacation.amount}}</td>
                <td>{{vacation.userId | userProp: 'balance'}}</td>
                <td>
                    <button mat-stroked-button (click)="approve(vacation)">Approve</button>
                    <button mat-stroked-button (click)="refuse(vacation)">Refuse</button>
                </td>
            </tr>
    </table> -->
</div>