<div class="vacations-table" *ngIf="isLoaded">
    <div class="title">
        Vacation Request List
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.employee.firstName}} {{vacation.employee.surname}}
            </td>
        </ng-container>
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef>Team</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.employee.teamId}}</td>
        </ng-container>
        <ng-container matColumnDef="vacationDates">
            <th mat-header-cell *matHeaderCellDef>Vacation Dates</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.startDate | date}} - {{vacation.endDate | date}}
            </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.amount }} </td>
        </ng-container>
        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Vacation Balance</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.employee.balance}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Vacation Status</th>
            <td mat-cell *matCellDef="let vacation"> {{vacation.status | vacationStatus: vacation.status}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let vacation">
                <button mat-stroked-button (click)="decide(vacation)">Approve/Refuse</button>
                <button mat-stroked-button (click)="showProfile(vacation)">Show Profile</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

