:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .vacations-table { 
    width: 85%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;

    .title {
      border-bottom: 1px solid gray;
      text-align: center;
      font-size: 25px;
      padding: 11px 0px;
      color: aliceblue;
    }

    table {
      color: aliceblue;
      width: 100%;
      
    }
    mat-paginator {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
