<ng-container *ngIf="isLoaded">
    <div class="user-vacations">
        <div class="vacations-available">
            <h1>{{userBalance}}</h1>
            <p>Days Available</p>
            <button mat-stroked-button (click)="requestVacation()">Request Vacation</button>
        </div>
        <div class="vacations-table">
            <h2>My vacations</h2>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
                <ng-container matColumnDef="dates">
                    <th mat-header-cell *matHeaderCellDef> Vacation Dates </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate | date}} - {{element.endDate | date}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status | vacationStatus: element.status}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <!-- <table mat-table [dataSource]="userVacationsList" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
    
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">
                                <div class="example-element-position"> {{element.startDate | date}} - {{element.endDate | date}} </div>
                                <div class="example-element-symbol"> {{element.type | vacationRequestType: element.type}} </div>
                                <div class="example-element-name"> {{element.status | vacationRequestStatus: element.status}} </div>
                            </div>
                            <div class="example-element-description">
                                {{element.comment}}
                            </div>
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table> -->
        <!-- <app-vacation-request (changeFlag)="changeFlag()" *ngIf="isVacationRequest" class="vacation-request"></app-vacation-request> -->
    </div>
</ng-container>