:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0px 10px;
}
.whole-block {
  border: 1px solid gray;
  width: 70%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 
  .filter {
    align-self: flex-end;
    padding: 5px 0px;

    mat-form-field {
      margin-right: 20px;
    }
    input {
      height: 20px;
    }
  }
  mat-paginator {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .title {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 25px;
    padding: 11px 0px;
    color: aliceblue;
  }

  .main-block {
    color: aliceblue;
    width: 100%;
    width: 100%;
    // padding: 20px 60px;xw

    button {
      padding: 0px 0px;
      margin: 5px 5px;
    }
  }
}
