<div class="container" *ngIf="isLoaded">
    <div [className]="isModal ? 'edit-user-modal' : 'whole-block'">
        <div class="title">
            {{titleName}}
        </div>
        <form class="main-block" [formGroup]="addUserForm" (ngSubmit)="onSubmit(addUserForm)">
            <div class="sub-block">
                <mat-form-field type="text">
                    <input matInput placeholder="Name" formControlName="firstName">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('firstName').invalid && addUserForm.get('firstName').touched">
                    <ng-container *ngIf="addUserForm.get('firstName').errors.required">name is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="Surname" name="surname" formControlName="surname">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('surname').invalid && addUserForm.get('surname').touched">
                    <ng-container *ngIf="addUserForm.get('surname').errors.required">surname is required.
                    </ng-container>
                </mat-error>
                <mat-form-field>
                    <input type="text" matInput placeholder="Job Title" formControlName="jobTitle">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('jobTitle').invalid && addUserForm.get('jobTitle').touched">
                    <ng-container *ngIf="addUserForm.get('jobTitle').errors.required">Job Title is required.
                    </ng-container>
                </mat-error>
                <mat-form-field id="workStatus">
                    <mat-label>Work Status</mat-label>
                    <mat-select formControlName="workStatus" (selectionChange)="changeStatus()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('workStatus').invalid && addUserForm.get('workStatus').touched">
                    <ng-container *ngIf="addUserForm.get('workStatus').errors.required">workStatus is required.
                    </ng-container>
                </mat-error>
                <mat-form-field >
                    <input [disabled]="data" type="number" matInput placeholder="Vacations Available" formControlName="balance">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('balance').invalid && addUserForm.get('balance').touched">
                    <ng-container *ngIf="addUserForm.get('balance').errors.required">balance is required.
                    </ng-container>
                </mat-error>
                <mat-form-field>
                    <mat-label>Team</mat-label>
                    <mat-select formControlName="team">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('team').invalid && addUserForm.get('team').touched">
                    <ng-container *ngIf="addUserForm.get('team').errors.required">team is required.
                    </ng-container>
                </mat-error>
            </div>
            <div class="sub-block">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('birthdate').invalid && addUserForm.get('birthdate').touched">
                    <ng-container *ngIf="addUserForm.get('birthdate').errors.required">birthday is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="workEmail" formControlName="workEmail">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('workEmail').invalid && addUserForm.get('workEmail').touched">
                    <ng-container *ngIf="addUserForm.get('workEmail').errors.required">workEmail is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('email').invalid && addUserForm.get('email').touched">
                    <ng-container *ngIf="addUserForm.get('email').errors.required">email is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="phone" name="phone" formControlName="phone">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('phone').invalid && addUserForm.get('phone').touched">
                    <ng-container *ngIf="addUserForm.get('phone').errors.required">phone is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="skype" name="skype" formControlName="skype">
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('skype').invalid && addUserForm.get('skype').touched">
                    <ng-container *ngIf="addUserForm.get('skype').errors.required">skype is required.
                    </ng-container>
                </mat-error>
                <mat-form-field>
                    <input matInput [matDatepicker]="pickerTwo" placeholder="Start Date" formControlName="workStartDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTwo></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="addUserForm.get('workStartDate').invalid && addUserForm.get('workStartDate').touched">
                    <ng-container *ngIf="addUserForm.get('workStartDate').errors.required">startDate is required.
                    </ng-container>
                </mat-error>

                <button mat-stroked-button [disabled]="addUserForm.invalid">{{btnName}}</button>
            </div>
        </form>
    </div>
</div>