<div class="whole-block">
    <div class="title">
        Add New Team
    </div>
    <div class="main-block">
        <form class="main-block" [formGroup]="addTeamForm" (ngSubmit)="onSubmit(addTeamForm)">
            <div class="sub-block">
                <mat-form-field type="text">
                    <input matInput placeholder="Team Name" formControlName="teamName">
                </mat-form-field>
                <mat-error *ngIf="addTeamForm.get('teamName').invalid && addTeamForm.get('teamName').touched">
                    <ng-container *ngIf="addTeamForm.get('teamName').errors.required">teamName is required.
                    </ng-container>
                </mat-error>
                <mat-form-field type="text">
                    <input matInput placeholder="Team Lead Name" name="teamLeadName" formControlName="teamLeadName">
                </mat-form-field>
                <mat-error *ngIf="addTeamForm.get('teamLeadName').invalid && addTeamForm.get('teamLeadName').touched">
                    <ng-container *ngIf="addTeamForm.get('teamLeadName').errors.required">teamLeadName is required.
                    </ng-container>
                </mat-error>
            </div>
            <div class="sub-block">
                <mat-form-field type="text">
                    <input matInput placeholder="Team Members" name="teamMembers" formControlName="teamMembers">
                </mat-form-field>
                <!-- <mat-error *ngIf="addTeamForm.get('skype').invalid && addTeamForm.get('skype').touched">
                    <ng-container *ngIf="addTeamForm.get('skype').errors.required">skype is required.
                    </ng-container>
                </mat-error> -->
                <button mat-stroked-button [disabled]="addTeamForm.invalid">Add Team</button>
            </div>
        </form>
    </div>
</div>