:host {
  width: 20%;
  background-color: rgb(63, 68, 75);
  position: relative;
  transition: all 0.4s ease;

  nav .menu {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgb(255, 208, 0);
      height: 100%;
      font-size: 20px;
      color: aliceblue;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease;

      .badge {
        padding: 1% 1%;
        font-size: 17px;
        line-height: 13px;
        border-radius: 50%;
        width: auto;
        height: auto;
        background-color: #9900ff; 
        border: 3px solid #9900ff; 
        color: #ffffff;
        text-align: center;
      }

      &.active {
        background-color: rgb(255, 208, 0);
        box-shadow: 1px 1px 5px 2px orange;
      }
    }
  }

  a:hover {
    background-color: rgb(255, 208, 0);
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px orange;
  }
}

:host:hover {
  background-color: rgb(70, 75, 80);
}

@media only screen and (max-width: 650px) {
  :host {
    display: none;
  }
}


