<nav>
    <div class="menu">
        <div class="block">
            <a routerLink="/main/profile" routerLinkActive="active">My Profile</a>
        </div>
        <div class="block">
            <a routerLink="/main/vacation-request" routerLinkActive="active">Request Vacation</a>
        </div>
        <div class="block">
            <a routerLink="/main/add-user" routerLinkActive="active">Add New Employee</a>
        </div>
        <div class="block">
            <a routerLink="/main/add-team" routerLinkActive="active">Add New Team</a>
        </div>
    </div>
</nav>