<nav>
    <div class="menu">
        <div class="block" (click)="toProfile()">
            <a>My Profile</a>
        </div>
        <div class="block" (click)="toVacationRequest()">
            <a>Request Vacation</a>
        </div>
        <div class="block">
            <a routerLink="/main/add-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add New
                Employee</a>
        </div>
        <div class="block">
            <a routerLink="/main/add-team" routerLinkActive="active">Add New Team</a>
        </div>
        <div class="block">
            <a routerLink="/main/vacation-request-list" routerLinkActive="active">Vacation Requests</a>
        </div>
        <div class="block">
            <a routerLink="/main/employees-list" routerLinkActive="active">Employees List</a>
        </div>
    </div>
</nav>