<form [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm)">
    <mat-form-field type="text">
        <input matInput placeholder="Login" formControlName="login">
    </mat-form-field>
    <!-- <mat-error *ngIf='logInForm.get(‘login’).invalid && logInForm.get(‘login’).touched'>
        Login is <strong>required</strong>
    </mat-error> -->
    <mat-error *ngIf="logInForm.get('login').invalid && logInForm.get('login').touched">
        <ng-container *ngIf="logInForm.get('login').errors.required">login is required.</ng-container>
    </mat-error>
    <mat-form-field type="text">
        <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="logInForm.get('password').invalid && logInForm.get('password').touched">
        <ng-container *ngIf="logInForm.get('password').errors.required">password is required.</ng-container>
    </mat-error>
    <button mat-stroked-button>Log in</button>
</form>