<div class="whole-block">
    <div class="title">
        Vacation Request
    </div>
    <form class="main-block" [formGroup]="vacationRequestForm" (ngSubmit)="onSubmit(vacationRequestForm)">
        <mat-form-field id="vacationType">
            <mat-label>Vacation Type</mat-label>
            <mat-select formControlName="type">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let type of vacationTypes" [value]="type.value">{{type.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field id="from">
            <input matInput [matDatepicker]="picker" placeholder="Choose a From Date" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field id="to">
            <input matInput [matDatepicker]="pickerTwo" placeholder="Choose a To Date" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTwo></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a Comment" formControlName="comment"></textarea>
        </mat-form-field>
        <button type="submit" mat-stroked-button>Request Vacation</button>
    </form>
</div>