:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .vacations-table {
    width: 600px;
    height: auto;
    border: 1px solid gray;
    border-radius: 8px;

    .title {
      border-bottom: 1px solid gray;
      text-align: center;
      font-size: 25px;
      padding: 11px 0px;
      color: aliceblue;
    }

    table {
      color: aliceblue;
      width: 100%;
      background-color: rgb(99, 99, 99);
    }
  }
}
